.immobileDetails {
    padding: 2rem 2rem;
    margin: 2rem 10rem;
    display: flex;

    .researchContent {
        border: 2px solid var(--gray-100);
        // border-radius: 0.5rem;
        margin-right: 2rem;
        padding: 1rem 2rem;
        display: flex;
    }

    .immobilesContent {
        border: 2px solid var(--gray-100);
    }
}
