.homepage {
    height: calc(100vh - 6.5rem);
    overflow-y: scroll;
}

.imageHome {
    background-image: url("../../public/imageHome.jpg");
    background-size: cover;
    height: 400px;
    text-align: center;
    position: relative;

    h1 {
        font-size: 3rem;
        font-weight: 400;
        line-height: 40px;
        padding-top: 3rem;
        margin-bottom: 1rem;

        color: var(--gray-800);
    }

    .researchFields {
        margin-top: 3rem;

        select {
            padding: 0.95rem 1rem;
            border: none;
        }

        input {
            padding: 1rem 1rem;
            border: none;
        }

        .research {
            padding: 1rem 2rem;
            background-color: var(--green-500);
            color: var(--white);
            font-weight: bold;
            border: none;
        }
    }

    .researchCode {
        margin-top: 3rem;

        input {
            padding: 1rem 2rem;
            border: none;
        }

        .research {
            padding: 1rem 2rem;
            background-color: var(--green-500);
            color: var(--white);
            font-weight: bold;
            border: none;
        }
    }

    .researchFieldsOrResearchCode {
        margin-top: 2rem;
        padding: 0.5rem 2rem;
        background-color: var(--pink-400);
        font-weight: bold;
        border: none;
        border-radius: 0.5rem;

        span {
            color: var(--white);
        }
    }
}
