.homepage {
    height: calc(100vh - 6.5rem);
}

.imageHome {
    background-image: url("../../public/imageHome.jpg");
    background-size: cover;
    height: 400px;
    text-align: center;
    position: relative;

    h1 {
        font-size: 3rem;
        line-height: 40px;
        padding-top: 3rem;
        margin-bottom: 1rem;

        color: var(--gray-800);
    }

    .researchFields {
        margin-top: 3rem;

        select {
            padding: 1.5rem 1rem;
            border: none;
        }

        input {
            padding: 1.5rem 1rem;
            border: none;
        }

        .research {
            padding: 1.5rem 2rem;
            background-color: var(--green-500);
            color: var(--white);
            font-weight: bold;
            border: none;

            &:hover {
                background: var(--green-400);
            }
        }
    }

    .researchCode {
        margin-top: 3rem;

        input {
            padding: 1.5rem 2rem;
            border: none;
        }

        .research {
            padding: 1.5rem 2rem;
            background-color: var(--green-500);
            color: var(--white);
            font-weight: bold;
            border: none;

            &:hover {
                background: var(--green-400);
            }
        }
    }
}

.immobileList {
    text-align: center;
    margin: 0rem 10rem;

    h1 {
        padding-top: 7rem;
        padding-bottom: 1rem;
        margin-bottom: 2rem;
        font-size: 40px;
        color: var(--gray-800);
    }

    ul {
        list-style: none;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 7rem;

        li {
            position: relative;
            display: flex;
            align-items: center;

            a {
                color: inherit;
                text-decoration: none;
            }

            .immobileCards {
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
                text-align: justify;
                transition: 0.3s;
                width: 20rem;
                border-radius: 5px;
                padding-bottom: 1rem;

                img {
                    width: 100%;
                    border-radius: 5px 5px 0 0;
                }

                .container {
                    padding: 1rem 1rem;

                    h2 {
                        padding-bottom: 1rem;
                        color: var(--gray-800);
                    }

                    p {
                        padding-bottom: 1rem;
                    }

                    span {
                        font-weight: bold;
                        color: var(--green-800);
                    }
                }

                &:hover {
                    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);

                    img {
                        opacity: 70%;
                    }

                    span {
                        color: var(--pink-800);
                    }
                }
            }
        }
    }
}
