.headerContainer {
    background: var(--pink-800);
    height: 6.5rem;
    display: flex;
    align-items: center;
    padding: 2rem 4rem;
    border-bottom: 1px solid var(--gray-100);

    h1 {
        color: var(--white);
    }

    h3 {
        margin-left: 2rem;
        padding: 0.25rem 0 0.25rem 2rem;
        border-left: 1px solid var(--gray-100);
        color: var(--white);
    }

    span {
        margin-left: auto;
        text-transform: capitalize;
        color: var(--white);

        a {
            color: inherit;
        }
    }
}
